# {{project_name}}

{{project_description}}

## Setup

    make install

## Development

    make lint
    make test
    make run

Change log: [CHANGELOG.md](CHANGELOG.md). Pending work: [TODO.md](TODO.md).
